body {
    background-color: rgb(228, 228, 228) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-one {
position: fixed;
background-color: #fff;
width: 100%;
height: 3.6rem;
/* margin-top: 0rem !important; */
z-index: 1000;
}


@media (max-width: 28.625em) { 
.header-one {
    height: 6rem;       
}
 }

.fa-facebook {
    color: #0a5af9;
    font-size: 2.6rem;
    margin-left: 1rem;
    margin-top: .5rem;
    display: inline;
    cursor: pointer;
}
.header-input {
    border-radius: 1rem;
    border-style: none;
    background-color: rgb(247, 245, 245);
    /* margin-top: -3rem !important; */
    display: inline;
    position: relative;
    top: -.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-left: .5rem;
    cursor: pointer;
    width: 15%;
}

@media (max-width: 81.25em) { 
.header-input {
            display: none !important;        
}
 }
.search-one {
  position: relative;
  right: 12rem;
  top: -.5rem;
}    

@media (max-width: 81.25em) { 
.search-one {
            display: none !important;        
}
 }
.icons-search {
    display: none !important;
    padding: .7rem;
    background-color: #d0d2d8;
    position: relative;
    top: -.4rem;
    font-size: 1.2rem;
    border-radius: 100%;
    color: gray;
    cursor: pointer;
}


@media (max-width: 81.25em) { 
.icons-search {
    display: inline !important; 

}
 }

@media (max-width: 28.625em) { 
.icons-search {
    margin-left: 65%;      
}
 }

@media (max-width: 25.75em) { 
.icons-search {
    margin-left: 55%;      
}
 } 

@media (max-width: 21.5em) { 
.icons-search {
    margin-left: 50%;      
}
 } 

.fa-home {
    color: #0a5af9;
    font-size: 1.6rem;
    margin-left: 7%;
    position: relative;
    top: -.5rem !important;
    cursor: pointer;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: .4rem;
    padding-bottom: .6rem;
    border-radius: .7rem;
    width: 4.9rem;
}

:hover.fa-home {
    background-color: rgb(226, 226, 226);
    
}

@media (max-width: 81.25em) { 
.fa-home {
    margin-left: 21.5%;
}
 }


@media (max-width: 78em) { 
.fa-home {
    margin-left: 18.5%;
}
 }

@media (max-width: 66.375em) { 
.fa-home {
    margin-left: 8% !important;
}
 } 


@media (max-width: 66.375em) { 
.fa-home {
    margin-left: 18%;
}
 }
    
@media (max-width: 57.125em) { 
.fa-home {
    margin-left: 10% !important;
}
 }


@media (max-width: 51.625em) { 
.fa-home {
    margin-left: 6% !important;
}
 }

@media (max-width: 48.125em) { 
.fa-home {
    margin-left: 4% !important;
}
 }


@media (max-width: 48em) { 
.fa-home {
    margin-left: 10% !important;
    position: relative;
    left: 2%;
}
 }

@media (max-width: 46.125em) { 
.fa-home {
    margin-left: 2.5% !important;
}
 }
    
@media (max-width: 45.25em) { 
.fa-home {
    display: none !important;
}
 }

.all-icons {
    color: black;
    font-size: 1.6rem;
    margin-left: 2.5%;
    cursor: pointer;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: .7rem;
    width: 4.9rem;
    position: relative;
    top: -.6rem;
}

:hover.all-icons {
    background-color: rgb(226, 226, 226);
}


@media (max-width: 60.625em) { 
.all-icons  { 
    margin-left: 1%;  
}
 } 
    
@media (max-width: 57.125em) { 
.all-icons  { 
    margin-left: 0%;  
}
 } 

@media (max-width: 48em) { 
.all-icons  { 
        margin-right: -2.5%;  
}
 } 
    

@media (max-width: 45.25em) { 
.all-icons  { 
    display: none !important;
}
 }
.one-top {
padding-top: .3rem;
padding-bottom: .7rem;
padding-left: 1.4rem ;
padding-right: 1.2rem;
/* background-color: gray; */
margin-left: 1.5%;
border-radius: .5rem;
margin-left: 2.5%;
position: relative; 
    top: -.7rem;  
 } 
:hover.one-top {
    background-color: rgb(226, 226, 226);
}

@media (max-width: 48em) { 
.one-top  { 
 margin-left: .7% !important;   
}
 }

@media (max-width: 45.25em) { 
.one-top  { 
  display: none; 
}
 }


.one {
    padding: .1rem;
    border: 2px solid gray;
    border-radius: 100%;
    width: 1.7rem;
    /* position: relative;  */
    /* left: 2rem; */
    


    /* color: black; */
    /* font-size: 1.6rem; */
    /* margin-left: 2.5%; */
    /* cursor: pointer; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    /* padding-top: .4rem; */
    /* padding-bottom: .4rem; */
    /* border-radius: .7rem; */
    /* width: 4.9rem; */
    /* position: relative; */
    /* top: -.6rem; */


}    

.all-icons-2 {
 
    /* font-size: 1.6rem; */
    margin-left: 3% !important;
    cursor: pointer;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: .4rem;
    padding-bottom: .6rem;
    border-radius: .7rem;
    width: 5rem;
    position: relative;
    top: -.5rem;
}

:hover.all-icons-2 {
    background-color: rgb(226, 226, 226);
}


@media (max-width: 68.75em) { 
.all-icons-2  { 
 display: none !important;     
}
 } 
    

.fa-bars {
    display: none !important;
    color: black;
    font-size: 1.6rem;
    margin-left: 2%;
    cursor: pointer;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: .7rem;
    position: relative;
    top: -.2rem;
}


:hover.fa-bars {
    background-color: rgb(226, 226, 226);
}


@media (max-width: 68.75em) { 
.fa-bars  { 
    display: inline !important;     
}
 } 

@media (max-width: 60.625em) { 
.fa-bars  { 
  margin-left: 0%;     
}
 } 
     
@media (max-width: 48em) { 
.fa-bars  { 
      margin-left: -2%;     
}
 } 

@media (max-width: 28.625em) { 
.fa-bars  { 
    /* margin-left: -4%;  */
    padding-left: .7rem;
    padding-right: .7rem;    
}
 } 




.two-tag {
position: relative;
top: -.3rem;
right:  1rem;
}


@media (max-width: 74.25em) { 
.two-tag {
    display: none !important;
}
 }

.pic-me {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-left: 9%;
    position: relative;
    top: -.2rem;
    cursor: pointer;
}


@media (max-width: 83.4375em) { 
.pic-me {
        margin-left: 6%;
}
 }

.me-name{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}


/* dropdown */

.dropdown {
    display: inline;
}

.header-2-icon-one {
    font-size: 1.4rem;
    padding-top: .6rem;
    padding-bottom: .4rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: rgb(210, 205, 204);
    border-radius: 100%;
    display: inline !important;
    position: relative;
    top: -.3rem !important;
}

@media (max-width: 74.25em) { 
.header-2-icon-one {
    margin-left: 10%;          
}
 }
        

 
@media (max-width: 71.625em) { 
.header-2-icon-one {
        margin-left: 7%;          
}
 }


@media (max-width: 66.75em) { 
.header-2-icon-one {
   display: none !important;       
}
 }
  


.header-2-icon {
    font-size: 1.4rem;
    padding-top: .6rem;
    padding-bottom: .4rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: rgb(210, 205, 204);
    border-radius: 100%;
    display: inline !important;
    position: relative; 
    top: -.3rem;   
}

:hover.header-2-icon {
    background-color: rgb(228, 228, 228) !important;
}


@media (max-width: 28.625em) { 
.header-2-icon {
    margin-left: 6%;
}
 }


.header-2-icon-3 {
    font-size: 1.4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: rgb(210, 205, 204);
    border-radius: 100%;
   margin-top: -.5rem;
   display: none !important;
   margin-left: 2.5rem;
   position: relative;
   top: -.3rem;
}
    

@media (max-width: 66.75em) { 
.header-2-icon-3 { 
    display: inline !important; 
    
}
 } 
    
@media (max-width: 66.375em) { 
.header-2-icon-3 { 
    margin-left: 5.5rem;
        
}
 } 
     
@media (max-width: 58.125em) { 
.header-2-icon-3 { 
    margin-left: 3rem;  
}
 } 
     
@media (max-width: 50em) { 
.header-2-icon-3 { 
    margin-left: 2rem;  
}
 } 
    
@media (max-width: 48.125em) { 
.header-2-icon-3 { 
    margin-left: 1rem;  
}
 } 
        
@media (max-width: 46.625em) { 
.header-2-icon-3 { 
        margin-left: 0rem;  
}
 } 
    
@media (max-width: 45.25em) { 
.header-2-icon-3 { 
    margin-left: 18rem;  
}
 } 
      
@media (max-width: 41.5em) { 
.header-2-icon-3 { 
    margin-left: 17rem;  
}
 } 

@media (max-width: 38.25em) { 
.header-2-icon-3 { 
    margin-left: 14rem;  
}
 } 
    
@media (max-width: 35.375em) { 
.header-2-icon-3 { 
    margin-left: 12rem;  
}
 } 

@media (max-width: 33.5em) { 
.header-2-icon-3 { 
    margin-left: 10rem;  
}
 } 

@media (max-width: 32.25em) { 
.header-2-icon-3 { 
    margin-left: 8rem;  
}
 }

@media (max-width: 29.25em) { 
.header-2-icon-3 { 
    margin-left: 6rem;  
}
 }
    
@media (max-width: 28.625em) { 
.header-2-icon-3 { 
    margin-left: 4rem;  
}
 }
     
@media (max-width: 23.125em) { 
.header-2-icon-3 { 
    margin-left: 3rem;  
}
 }
       

.dropdown-menu {
    width: 23rem;
    height: 35rem;
}
.input-enter {
   width: 90%;
   height: 2.5rem;
   margin-left: 5%;
   border-radius: 1rem;
   background-color: rgb(230, 227, 227);
   border-style: none;
   cursor: pointer;
   
}
:hover.input-enter {
    background-color: rgb(199, 198, 198) ;
}

.drop-one {
    margin-left: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.dropdown-menu-fast {
    margin-left: .9rem;
    width: 90%;
    padding-left: 1rem;
    cursor: pointer;
    /* padding-bottom: 1px; */
    border-radius: .5rem;
    padding-top: .5rem;
}

:hover.dropdown-menu-fast {
    background-color: rgb(228, 228, 228) !important;
}
.dropdown-menu-secend {
    margin-left: .9rem;
    width: 90%;
    padding-left: 1rem;
    cursor: pointer;
    /* padding-bottom: 1px; */
    border-radius: .5rem;
    margin-top: -.3rem;
}

:hover.dropdown-menu-secend {
    background-color: rgb(228, 228, 228) !important;
}

.dropdown-flag {
    color: orange;
}


.friends-icon {
    font-size: 1.2rem;
    color: blue;
    
}

.icons-users {
    /* font-size: 1.2rem; */
    /* color: blue; */
}

.dropdown-menu-payragraph {
    font-size: .9rem;
    margin-left: 1.5rem;
    margin-top: -.3rem;
}

.header-2-icon-last {
    font-size: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    background-color: rgb(210, 205, 204);
    border-radius: 100%;
    display: inline !important;
    position: relative;
    top: -.3rem;
}

:hover.header-2-icon-last {
    background-color: rgb(228, 228, 228) !important;
}


@media (max-width: 28.625em) { 
.header-2-icon-last{
    margin-left: 6%;
 }
  }

.hr-one {
    width: 6rem;
    position: relative;
    /* left: 20rem; */
    left: 27.8%;
    margin-top: -.1rem;
    border-bottom: 2px solid blue;
    
}


@media (max-width: 78em) { 
.hr-one {
        left: 25%;        
}
 }


@media (max-width: 66.375em) { 
.hr-one {
    left: 17%;        
}
 }

@media (max-width: 57.125em) { 
.hr-one {
    left: 20%;        
}
 }


@media (max-width: 51.625em) { 
.hr-one {
    left: 17%;        
}
 }

@media (max-width: 48.125em) { 
.hr-one {
    width: 5rem;   
    left: 22%;     
}
 }

@media (max-width: 48em) { 
.hr-one {
    
    left: 25%;     
}
 }

@media (max-width: 46.125em) { 
.hr-one {
    left: 18%;     
}
 }

@media (max-width: 45.25em) { 
.hr-one {
        display: hidden !important;  
        color: #fff;
        width: 0;      
}
 }
    

.hr-two {
    margin-top: -1.2rem;
}



@media (max-width: 45.25em) { 
.hr-two {
position: relative;
top: .4rem;
}
 }

/* secend-side */

.secend-side {
    width: 30%;
    /* background-color: aqua; */
    height: 39rem !important;
    position:fixed ;
    margin-top: 3rem;
}

@media (max-width: 76.625em) { 
.secend-side  { 
    width: 26%;
}
 } 

@media (max-width: 66.375em) { 
.secend-side  { 
    display: none !important;  
}
 } 
    

.secend-side-me-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}
/* side-bar */

.side-bar {
    margin-top: 1.5rem;
    /* margin-left: 4%; */
    cursor: pointer;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
:hover.side-bar {
    background-color: rgb(197, 194, 194);  
 
}
.side-peaple {
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1.2rem;
    /* padding-right: 2rem; */
    width: 90%;
    /* background-color: aqua; */
    cursor: pointer;
    margin-top: -.2rem;
}

:hover.side-peaple {
    background-color: rgb(197, 194, 194);
}
.last {
    padding: .5rem;
    background-color: #cecfd4;
    border-radius: 100%;
}

.sidebar-hr {
    width: 22rem;
    margin-top: -.1rem;
}
.heading-6 {
    font-weight: 1000;
    color: gray;
    margin-top: -.5rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}
.smash-coad-write {
    font-weight: 500;
}
.last-side {
    margin-left: .5rem;
    width: 85%;
    cursor: pointer;
    margin-top: 1rem;
  
}
:hover.last-side {
    background-color: rgb(197, 194, 194);
}
.last-side-2 {
    margin-left: .5rem;
    width: 85%;
    cursor: pointer;
    margin-top: -.5rem;
}

:hover.last-side-2 {
    background-color: rgb(197, 194, 194);
}
.smash-coad {
    width: 2rem;
    height: 2rem;
}

.friend {
    font-size: 1.3rem;
    margin-left: 1.7%;
    color: blue;
    
}
.watch-side {
    color: rgb(15, 190, 221);
}

.market-colour {
    width: 1.5rem;
}
.saved-saved-1 {
   /* font-size: 1.3rem; */
   margin-left: 1.7%;
   color: purple;
   width: 1.5rem;
}
.pages-flag {
    font-size: 1.3rem;
    margin-left: 1.7%;
    color: orangered;
}
.events-logo {
    font-size: 1.3rem;
    margin-left: 1.7%;
    color: red;
}
.jobs-bag {
    /* font-size: 1.3rem; */
width: 1.3rem;
    margin-left: 1.7%;
    /* color: orange; */
}
.sidebar-name-2 {
    font-weight: 600;
    color: black;
}
.sidebar-name-3 {
    font-weight: 500;
    color: black;
    margin-left: 1%;
}
.smash-cord-pay {
    font-size: .8rem;
    margin-left: 2.5rem;
    margin-top: -.6rem;
}


/* sidebar-right */

.side-bar-right {
    width: 25%;
    height: 35rem;
    position: fixed;
    margin-top: 4rem;
    left: 75%;
}


@media (max-width: 56.25em) { 
.side-bar-right  { 
    display: none !important;  
}
 } 
    

.side-bar-right-Contect {
    color: gray;
    font-size: 1.1rem;
    display: inline;
    position: relative;
    top: 1.2rem;
    margin-left: 15%;    
}


@media (max-width: 60.5em) { 
.side-bar-right-Contect  { 
    margin-left: 5%; 
}
 } 
    

.contact-icon-fa-video {
    margin-left: 20%;
    position: relative;
    top: 1.2rem;
    font-size: .9rem;
    color: gray;
    padding: .5rem;
   cursor: pointer;
    border-radius: 100%;
    
}
:hover.contact-icon-fa-video {
    background-color: rgb(210, 205, 204);
}


@media (max-width: 69.875em) { 
.contact-icon-fa-video {
        margin-left: 10%;          
}
 }
        

.contact-icon-fa-video-2 {
    position: relative;
    top: 1.2rem;
    font-size: .9rem;
    color: gray;
    margin-left: 2%;
    padding: .5rem;
    border-radius: 100%;
    cursor: pointer;
}
:hover.contact-icon-fa-video-2 {
    background-color: rgb(210, 205, 204);
}

.chat-right {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-top: 3rem;
    cursor: pointer;
}

:hover.chat-right {
    background-color: rgb(197, 194, 194);
}


@media (max-width: 60.5em) { 
.chat-right  { 
position: relative;
right: 10%;   
 
}
 } 
    


.img-right {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-left: 7%;
}
.name-right {
    position: relative;
    left: 4%;
    font-weight: 550;
}
.chat-right-2 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-top: .5rem;   
    cursor: pointer; 
}
:hover.chat-right-2 {
    background-color: rgb(197, 194, 194);
}


@media (max-width: 60.5em) { 
.chat-right-2  { 
    position: relative;
    right: 10%;   
}
 } 

/* mid  */






.status-all {
/* margin-top: 2rem; */
cursor: pointer;
}



@media (max-width: 75em) { 
.status-all  { 
   margin-right: 8rem;   
}
 }


@media (max-width: 74.125em) { 
.status-all  { 
    margin-left: 2rem !important;   
}
 }


@media (max-width: 71.375em) { 
    .status-all  { 
        margin-left: 0rem !important;   
    }
     }

@media (max-width: 67.375em) { 
.status-all  { 
    margin-left: -2rem !important;   
}
 }

@media (max-width: 66.375em) { 
.status-all  { 
    margin-left: -9rem !important;   
}
 }

@media (max-width: 60.25em) { 
.status-all  { 
    margin-left: -12rem !important;   
}
 } 


@media (max-width: 56.25em) { 
.status-all  { 
    margin-left: -6rem !important;   
}
 }

@media (max-width: 47.125em) { 
.status-all  { 
    margin-left: -9rem !important;   
}
 }

@media (max-width: 41.625em) { 
.status-all  { 
    margin-left: -10rem !important;   
}
 }
 
@media (max-width: 39.5em) { 
.status-all  { 
  margin-left: -6rem !important;  
 margin-right: 6rem;
}
 }
     
@media (max-width: 35.25em) { 
.status-all  { 
margin-left: -9rem !important;  
margin-right: 3rem !important;
}
 }
      
@media (max-width: 30.375em) { 
.status-all  { 
margin-left: -9.5rem !important;  
}
 }

      
@media (max-width: 29.75em) { 
.status-all  { 
margin-left: -7.5rem !important;  
}
 }
  

@media (max-width: 28.625em) { 
.status-all  { 
   position: relative;
   top: 1.3rem;
}
 }
      

@media (max-width: 26.25em) { 
.status-all  { 
  margin-left: -8rem !important;
}
 }
      
@media (max-width: 25.75em) { 
.status-all  { 
    margin-left: -6rem !important;
}
 }

@media (max-width: 25.125em) { 
.status-all  { 
    margin-left: -7.4rem !important;
}
 }

@media (max-width: 21.75em) { 
.status-all  { 
    margin-left: -6rem !important;
}
 }

 .status-one {
margin-left: 27%;
}



.status {
    width: 7rem;
    height: 12rem;
    padding-bottom: 3rem;
    background-color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    
    
}
:hover.status {
    background-color: #d0d2d8;
    transform: translateY(-.1rem) scale(1);
    transition: all .3s;
}

    
@media (max-width: 29.75em) { 
.status  { 
  width: 6rem;
  height: 11rem;
}
 }

@media (max-width: 25.75em) { 
.status  { 
    width: 18%;
    height: 10rem;
    position: relative;
    right: .3rem;
}
 }

@media (max-width: 25.125em) { 
.status  { 
    width: 20%;
    height: 10rem;
   
}
 }

.status-secend {
margin-left: -10.8rem;
}

:hover.status-secend {
transform: translateY(-.1rem) scale(1);
transition: all .3s;
}

@media (max-width: 29.75em) { 
.status-secend  { 
   margin-left: -9.8rem;
}
 }
    
@media (max-width: 25.75em) { 
.status-secend  { 
    margin-left: -9.9rem;
}
 }    

.status-2-copy {
position: relative;
right: .2rem;
 }

.status-three {
    margin-left: -2rem;
}

@media (max-width: 29.75em) { 
.status-three { 
    margin-left: -2.5rem;
}
 }

@media (max-width: 25.75em) { 
.status-three { 
    margin-left: -2.7rem;
}
 }

@media (max-width: 21.75em) { 
.status-three { 
    margin-left: -2rem;
}
 }

.status-four {
    margin-left: -2rem;
}


@media (max-width: 29.75em) { 
.status-four { 
    margin-left: -2.5rem;
}
 }


@media (max-width: 21.75em) { 
.status-four { 
        margin-left: -1.8rem;
    }
     }


/* 
@media (max-width: 39.5em) { 
.status-four  { 
  margin-left: 0; 
}
 } */


.status-five {
    margin-left: -2.9rem;
}

@media (max-width: 74.125em) { 
.status-five  { 
    display: none;  
}
 }
    
@media (max-width: 74.125em) { 
.status-five  { 
    display: inline;  
}
 } 

@media (max-width: 43.875em) { 
.status-five  { 
   margin-left: 35rem;
   position: relative;
   top: -12rem;
   left: 3.7rem;
}
 } 

@media (max-width: 42.75em) { 
.status-five  { 
    margin-left: 34.7rem;
   
}
 }  

@media (max-width: 41.625em) { 
.status-five  { 
    margin-left: 34.2rem;
}
 }

@media (max-width: 39.5em) { 
.status-five  { 
    display: none;
}
 }
    


.right-img {
    padding: .7rem;
    background-color: #fff;
    border-radius: 100%;
    width: 2.2rem;
    /* margin-left: -1rem; */
    position: relative;
    right: 1rem;
    
}
:hover.right-img {
 background-color: #d0d2d8;   
}
 
@media (max-width: 53.5em) { 
.right-img { 
     margin-left: 49rem;
     margin-top: -13.6rem;

}
 } 

@media (max-width: 51em) { 
.right-img { 
position: relative;
top: -1rem;
}
 } 

@media (max-width: 48.875em) { 
.right-img { 
position: relative;
top: -2rem;
margin-left: 48rem;
}
 } 

@media (max-width: 43.875em) { 
.right-img { 
position: relative;
top: -12rem;

}
 } 


@media (max-width: 43.25em) { 
.right-img { 
position: relative;
top: -14rem;  
}
 }


@media (max-width: 41.625em) { 
.right-img { 
margin-left: 47rem;  
}
 }

@media (max-width: 39.5em) { 
.right-img { 
margin-left: 7rem;  
}
 }
  

.small-pic {
width: 2.7rem;
height: 2.7rem;
border-radius: 100%;
position: relative;
left: 3.4rem;
top: -3.7rem;
border: 4px solid blue;
z-index: 100;
}


@media (max-width: 25.75em) { 
.small-pic { 
width: 2.5rem;
height: 2.5rem;
position: relative;
top: -3.5rem;
border: solid 3px blue;
}
 }

.status-2 {
width: 7rem;
height: 12rem;
border-radius: .5rem;
position: relative;
left: .2%;
}
:hover.status-2 {
    transform: translateY(-.1rem) scale(1);
    transition: all .3s;
}

@media (max-width: 29.75em) { 
.status-2 { 
    width: 6rem;
    height: 11rem; 
}
 }

@media (max-width: 25.75em) { 
.status-2 { 
    width: 18%;
    height: 10rem; 
    margin-left: 2%;
}
 }


@media (max-width: 25.125em) { 
.status-2 { 
    width: 20%;
    height: 10rem; 
    
}
 }    


.status-name-2 {
    margin-left: -6.5rem;
    color: #fff;
    position: relative;
    top: 4.8rem;
    font-weight: 500;
}

@media (max-width: 29.75em) { 
.status-name-2 { 
  margin-left: -6rem;
}
 }
    
@media (max-width: 25.75em) { 
.status-name-2 { 
  position: relative;
  top: 4rem;
  left: 2%;
  font-size: .8rem;
}
 }

@media (max-width: 21.75em) { 
.status-name-2 { 
    position: relative;
    left: 3%;
    font-size: .7rem;
}
 }

@media (max-width: 21.5em) { 
.status-name-2 { 
    position: relative;
    left: 5%;
    font-size: .7rem;
}
 }

.status-name {
position: relative;
right: 5rem;
top: 3rem;
}    

.plus { 
    top: 3rem;
    width: 2.5rem;
    border: solid 4px #fff;
    border-radius: 100%;
}


@media (max-width: 29.75em) { 
.plus{ 
   width: 2.1rem;
   position: relative;
   top: -.5rem;
   left:  .4rem;
}
 }

@media (max-width: 25.75em) { 
.plus{ 
    width: 2.1rem;
    position: relative;
    top: -.7rem;
    /* left:  1.2rem; */
}
 }

@media (max-width: 23.125em) { 
.plus{ 
   position: relative;
   left: .6rem;
       
}
 }

.name-story {
position: relative;
top: 2rem;
right: 4rem;
font-weight: 500;
}

@media (max-width: 29.75em) { 
.name-story { 
 font-weight: 400;
 position: relative;
 right: 2.9rem;
 top: 1.5rem;
 font-size: .8rem;
}
 }

@media (max-width: 25.75em) { 
.name-story { 
    font-weight: 500;
    position: relative;
    right: 2.5rem;
    top: 1rem;
    font-size: .7rem;
}
 }
    


.inerterment {
    width: 40% !important;
    background-color: #fff;
    margin: auto;
    /* margin-top: 2rem; */
    padding-bottom: 1rem;
}



@media (max-width: 66.375em) { 
.inerterment { 
    margin-left: 18%;
    width: 48% !important;
}
 } 

@media (max-width: 56.25em) { 
.inerterment { 
    margin-left: 20%;
    width: 55% !important;
}
 } 

@media (max-width: 53.5em) { 
.inerterment { 
   margin-top: -1.3rem;
}
 } 
    

@media (max-width: 51em) { 
.inerterment { 
    margin-top: -2rem;
}
 }



@media (max-width: 49.125em) { 
.inerterment { 
    margin-left: 20%;
    width: 62% !important;
}
 }


@media (max-width: 47.5em) { 
.inerterment { 
        margin-left: 18%;
        width: 65% !important;
}
 }

@media (max-width: 43.875em) { 
.inerterment { 
   margin-top: -13rem;
}
 }


@media (max-width: 41.5em) { 
.inerterment { 
    margin-left: 10%;
    width: 80% !important;
}
 }

@media (max-width: 39.5em) { 
.inerterment { 
    margin-top: -1rem;
}
 }
    


@media (max-width: 32.25em) { 
.inerterment { 
    margin-left: 5%;
    width: 90% !important;
}
 }
    
@media (max-width: 28.625em) { 
.inerterment { 
    margin-left: 0%;
    width: 100% !important;
}
 } 


.status-3 {
    width: 7.2rem;
    height: 12rem;
    margin-top: 5rem;
    position: relative;
    right: 19.4rem;
    border-radius: .5rem;
    cursor: pointer;
}


:hover.status-3 {
    transform: translateY(-.2rem) scale(1);
    backface-visibility: hidden;
    transition: all .5s;
}

.small-pic-2 {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    z-index: 1;
    /* margin-top: 1rem; */
    border: solid 3px blue;
    position: relative;
    right:  15.5rem;
    top: -1.5rem;
}

.status-name-3 {
    position: relative;
    right: 26.5rem;
    top: 7.4rem;
    color: #fff;
    cursor: pointer;
}

.story-4 {
    position: relative;
    right: 8.7rem;
}

.status-name-4 {
    z-index: 100;
    color: #fff ;
    margin: auto;
    margin-left: 10.1rem;
    float: right;
    position: relative;
    right:  23rem;
    top: -2rem;
}

@media (max-width: 82.875em) { 
.status-name-4  { 
    position: relative;
    right: 22rem;
}
 }

.story-5 {
    /* position: relative; */
    /* right: 10; */
    /* left: 0; */
    /* float: left; */

}

.small-pic-3 {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    z-index: 1;
    /* margin-top: 1rem; */
    border: solid 3px blue;
    position: relative;
    /* right:  15.5rem; */
    /* top: -1.5rem; */
    float: right;
    margin-top: -11.4rem;
    margin-right: 10.7rem;
}

@media (max-width: 82.875em) { 
.small-pic-3  { 
  margin-right: 9.9rem;
}
 }

.status-4 {
    width: 7.2rem;
    height: 12rem;
    margin-top: -12rem;
  /* position: absolute; */
  /* right: 20rem !important; */
  /* position: relative; */
  /* left:   53.2rem !important; */
    /* margin-right: 5rem; */
    position: relative;
    right: 6.9rem;
    border-radius: .5rem;
    cursor: pointer;
    /* margin-left: -30rem; */
    float: right;
}

:hover.status-4 {
    transform: translateY(-.2rem) scale(1);
    backface-visibility: hidden;
    transition: all .5s;
}

@media (max-width: 82.875em) { 
.status-4  { 
   /* margin-left: 9rem !important; */
   position: relative;
   left: 1rem;
}
 } 
    

.status-name-5 {
    z-index: 100;
    color: #fff ;
    margin: auto;
    margin-left: 7rem;
    float: right;
    position: relative;
    right:  7.5rem;
    top: -2rem;
}


@media (max-width: 82.875em) { 
.status-name-5  { 
    position: relative;
    right: 6.8rem;
}
 }


.mid-secend {
    /* width: 40%; */
    height: 10rem;
    /* background-color: #fff; */
    margin: auto;
  position: relative;
  top: 5rem;
border-radius: .5rem;
/* margin-top: 2rem; */
}


@media (max-width: 66.375em) { 
.mid-secend { 
    /* width: 48%;  */
    /* margin-left: 18%; */
}
 } 
    

@media (max-width: 56.25em) { 
.mid-secend { 
    /* width: 55%;  */
    /* margin-left: 20%; */
}
 } 

@media (max-width: 49.125em) { 
.mid-secend { 
    /* width: 62%; */
}
 } 


@media (max-width: 48.375em) { 
.mid-secend { 
  /* margin-top: -1rem; */
}
 } 
    

 @media (max-width: 47.5em) { 
.mid-secend { 
    /* width: 65%; */
    /* margin-left: 18%;  */
   
}
 } 
    
@media (max-width: 41.5em) { 
.mid-secend { 
    /* width: 80%; */
    /* margin-left: 10%;         */
}
 }

@media (max-width: 32.25em) { 
.mid-secend { 
    /* width: 90%; */
    /* margin-left: 5%;         */
}
 }
     
@media (max-width: 28.625em) { 
.mid-secend { 
    /* width: 100%; */
    /* margin-left: 0%;         */
}
 }
     


.me-pic-center {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    /* margin-top: 1.5rem; */
    margin-left: 2%;
    display: inline;
    position: relative;
    top: 2rem;
}
.me-input {
    width: 85%;
    height: 3rem;
    margin-top: -15rem;
    margin-left: 10%;
    display: inline;
    border-radius: 2rem;
    background-color: rgb(221, 221, 221);
    border-style: none;
}

@media (max-width: 71.5em) { 
.me-input {
    margin-left: 13%;          
}
 }
        

.hr-mind {
    width: 90%;
    margin-left: 5%;
}

.span-video {
cursor: pointer;
padding-top: .5rem;
padding-bottom: .5rem;
padding-left: 1rem;
padding-right: 1rem;
margin-left: 5%;
}

:hover.span-video {
    background-color: rgb(221, 221, 221);
    border-radius: .5rem;
}


@media (max-width: 76.125em) { 
.span-video{
    padding-left: .5rem;
    padding-right: .5rem;       
}
 }
     

@media (max-width: 66.375em) { 
.span-video{
    margin-left: 10%;
}
 }


@media (max-width: 58.125em) { 
.span-video{
    margin-left: 7%;
}
 }
    
@media (max-width: 56.25em) { 
.span-video{
    margin-left: 10%;
}
 }
    
@media (max-width: 50em) { 
.span-video{
    margin-left: 6%;
}
 }

@media (max-width: 41.5em) { 
.span-video{
    margin-left: 13%;
}
 }

@media (max-width: 35.375em) { 
.span-video{
    margin-left: 6%;
}
 }
    
@media (max-width: 28.625em) { 
.span-video{
        margin-left: 2%;
}
 }
     
@media (max-width: 25em) { 
.span-video{
    margin-left: 10%;
}
 }
    

.top-video {
    color: red;
    font-size: 1.5rem;
    /* margin-left: 7%; */
}
.video-call{
    font-size: .9rem;
    position: relative;
    top: -.2rem;
}
.span-video-2 {
margin-left: 3%;
cursor: pointer;
padding-top: .5rem;
padding-bottom: .5rem;
padding-left: 1rem;
padding-right: 1rem;
border-radius: .5rem;
}
:hover.span-video-2 {
    background-color: rgb(221, 221, 221);

}

@media (max-width: 74.5em) { 
.span-video-2{
        margin-left: 0%;        
}
 } 


@media (max-width: 76.125em) { 
.span-video-2{
    padding-left: .5rem;
    padding-right: .5rem;       
}
 }


@media (max-width: 25em) { 
.span-video-2{
   margin-left: 15%;      
}
 }
    
@media (max-width: 21.25em) { 
.span-video-2{
    margin-left: 10%;      
}
 }

.span-video-3 {
    margin-left: 3%;
    cursor: pointer;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .5rem;
    }


:hover.span-video-3 {
    background-color: rgb(221, 221, 221);
    
}
    
@media (max-width: 74.5em) { 
.span-video-3{
    margin-left: 0%;        
}
 } 
    
    
@media (max-width: 76.125em) { 
.span-video-3{
    padding-left: .5rem;
    padding-right: .5rem;       
}
  }
    
@media (max-width: 25em) { 
.span-video-3{
   display: none !important;       
}
  }


.fa-images {
    color: green;
    font-size: 1.5rem;
}
.live-video {
 font-size: .9rem;
 position: relative;
 top: -.2rem;
}
.fa-smile {
    font-size: 1.5rem;
    color:orange;
}

.online-show {
    width: 40%;
    height: 4rem;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}
@media (max-width: 66.375em) { 
.online-show{
    margin-left: 18%;
    width: 48%;     
}
  }
 
@media (max-width: 56.25em) { 
.online-show{
    margin-left: 20%;
    width: 55%;     
}
 }
       

@media (max-width: 49.125em) { 
.online-show{
    width: 62%;     
}
 }
     
@media (max-width: 47.5em) { 
.online-show{
    width: 65%;
    margin-left: 18%;     
}
 }

@media (max-width: 41.5em) { 
.online-show{
    width: 80%;
    margin-left: 10%;     
}
 }

@media (max-width: 32.25em) { 
.online-show{
    width: 90%;
    margin-left: 5%;     
}
 }

@media (max-width: 28.625em) { 
.online-show{
    width: 100%;
    margin-left: 0%;     
}
 }


.video-plus {
    position: relative;
    top: .7rem;
    left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .7rem;
    padding-top: .3rem;
    /* background-color: #42f90a; */
    border-radius: 2rem;
    border: solid 1px rgb(161, 229, 241);

}
:hover.video-plus {
    background-color: #e0e2e6;
}


@media (max-width: 35.75em) { 
.video-plus{
 padding-left: .5rem;
 padding-right: .5rem;
 padding-top: .2rem;
 padding-bottom: .5rem;       
}
 }


.img-video {
    width: 1.2rem;
}

.Create-video {
    position: relative;
    /* top: .1rem; */
    color: #0a5af9;
    font-weight: 500;
}
.connect {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-left: 5%;
    position: relative;
    top: .7rem;
}
@media (max-width: 68.75em) { 
.connect {
    width: 2.3rem;
    height: 2.3rem;     
}
 }

@media (max-width: 66.375em) { 
.connect {
    width: 2.5rem;
    height: 2.5rem;     
}
 }

@media (max-width: 60.5em) { 
.connect {
    width: 2.3rem;
    height: 2.3rem;
}
 }

@media (max-width: 56.25em) { 
.connect {
    width: 2.5rem;
    height: 2.5rem;
}
 }

@media (max-width: 52.875em) { 
.connect {  
    width: 2.3rem;
    height: 2.3rem;    
}
 } 

 
@media (max-width: 41.5em) { 
.connect {  
    width: 2.5rem;
    height: 2.5rem;    
}
 } 

@media (max-width: 34.25em) { 
.connect {  
    width: 2.2rem;
    height: 2.2rem;    
}
 } 


.connect-2 {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    position: relative;
    top: .7rem;
    margin-left: 2.5%;
}

@media (max-width: 79.375em) { 
.connect-2 {
    margin-left: 2%;      
}
 }

@media (max-width: 77em) { 
.connect-2 {
    margin-left: 1.3%;      
}
 }
    

@media (max-width: 73.875em) { 
.connect-2 {
    margin-left: .8%;      
}
 }

@media (max-width: 71.75em) { 
.connect-2 {
    margin-left: .3%;      
}
 }

@media (max-width: 69.875em) { 
.connect-2 {
    margin-left: 0%;      
}
 }

@media (max-width: 68.75em) { 
.connect-2 {
    width: 2.3rem;
    height: 2.3rem;     
}
 }
    
@media (max-width: 66.375em) { 
.connect-2 {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2%;     
}
 }

@media (max-width: 64.25em) { 
.connect-2 {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5%;     
}
 }

@media (max-width: 62.375em) { 
.connect-2 {
    margin-left: 1%;    
}
 }


 @media (max-width: 60.5em) { 
.connect-2 {
    /* margin-left: .6%;     */
    width: 2.3rem;
    height: 2.3rem;
}
 }

@media (max-width: 57.75em) { 
.connect-2 {
    margin-left: .5%;    
    
}
 }

@media (max-width: 56.25em) { 
.connect-2 {
    margin-left: 1.5%;    
    width: 2.5rem;
    height: 2.5rem;    
}
 }

@media (max-width: 54.375em) { 
.connect-2 {
    margin-left: 1%;    
    width: 2.5rem;
    height: 2.5rem;    
}
 }

@media (max-width: 52.875em) { 
.connect-2 {  
    width: 2.3rem;
    height: 2.3rem;    
}
 }

@media (max-width: 50.5em) { 
.connect-2 {  
    margin-left: .5%; 
}
 }
    
@media (max-width: 49.125em) { 
.connect-2 {  
    margin-left: 2%; 
}
 }
     
@media (max-width: 45.125em) { 
.connect-2 {  
    margin-left: 1%; 
}
 }

@media (max-width: 42.625em) { 
.connect-2 {  
    /* margin-left: .6%; */
    height: 2.1rem;
    width: 2.1rem; 
}
 }

 @media (max-width: 41.5em) { 
.connect-2 {  
        width: 2.5rem;
        height: 2.5rem;  
        margin-left: 2%;  
}
 } 

 
@media (max-width: 38.625em) { 
.connect-2 {  
    margin-left: 1.5%;  
}
 }     


@media (max-width: 37.5em) { 
.connect-2 {  
    margin-left: 1%;  
}
 }  

@media (max-width: 37.5em) { 
.connect-2 {  
    margin-left: 1%;  
}
 }  


@media (max-width: 36.5em) { 
.connect-2 {  
    margin-left: .7%;  
}
 }  

@media (max-width: 34.25em) { 
.connect-2 {  
    width: 2.2rem;
    height: 2.2rem;  
}
 }


@media (max-width: 22.5em) { 
.pic-1{  
    display: none ; 
}
 }


.pic-2 {

}


@media (max-width: 25.375em) { 
.pic-2 {  
    display: none ; 
}
 }

.arow-online {
     padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: .8rem;
    padding-right: .8rem; 
    position: relative;
    top: -2rem;
    /* left: 28rem; */
    left: 82%;
    /* margin-right: 3rem; */
    background-color: #fff;
    border-radius: 100%;
    border:  1px rgb(246, 236, 236)  outset;

}
:hover.arow-online {
    background-color: rgb(225, 226, 228);
}

 
@media (max-width: 25.375em) { 
.arow-online {
 position: relative;
 left: 75%;
}
 }

@media (max-width: 22.5em) { 
.arow-online {
    position: relative;
    left: 83%;
}
 }

@media (max-width: 20em) { 
.arow-online {
    position: relative;
    left: 80%;
}
 }

.pic-center {
width: 40%;
height: 47rem;
background-color: #fff;
margin: auto;
position: relative;
top: 2rem;
}


@media (max-width: 76.5em) { 
.pic-center {
   height: 44rem;       
}
 }
        

@media (max-width: 71.875em) { 
.pic-center {
    height: 42rem;       
}
 }
    
@media (max-width: 67.625em) { 
.pic-center {
    height: 40rem;       
}
 }
  
@media (max-width: 66.375em) { 
.pic-center {
    width: 48%;
    margin-left: 18%;   
    height: 44rem;    
}
 } 

@media (max-width: 60em) { 
.pic-center {
    height: 42rem;  
}
 }  

@media (max-width: 56.25em) { 
.pic-center {
    width: 55%;
    margin-left: 20%; 
    height: 43rem;
}
 }  
  
@media (max-width: 51.25em) { 
.pic-center { 
    height: 40rem;
}
 }  
  

@media (max-width: 49.125em) { 
.pic-center { 
    width: 62%;
    height: 43rem;
}
 } 
 
@media (max-width: 47.5em) { 
.pic-center { 
    width: 65%;
    margin-left: 18%;
    height: 44rem;
}
 }  
     

@media (max-width: 41.5em) { 
.pic-center { 
    width: 80%;
    margin-left: 10%;
    height: 46rem;
}
 }  
     
@media (max-width: 37.5em) { 
.pic-center { 
    
    height: 43rem;
}
 }  

@media (max-width: 35.375em) { 
.pic-center {     
    height: 41rem;
}
 }  
    
@media (max-width: 33.25em) { 
.pic-center {     
    height: 39rem;
}
 }  

@media (max-width: 32.25em) { 
.pic-center {     
    width: 90%;
    margin-left: 5%;
    height: 42rem;
}
 }

@media (max-width: 28.625em) { 
.pic-center {     
    width: 100%;
    margin-left: 0%;
    /* height: 36rem; */
}
 }


@media (max-width: 25.375em) { 
.pic-center {     
    height: 38rem;
}
 }
    
@media (max-width: 23em) { 
.pic-center {     
    height: 36rem;
}
 }

  
@media (max-width: 21.256em) { 
.pic-center {     
    height: 34rem;
}
 }

.pic-center-img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border:3px solid rgb(102, 102, 243);
    margin-left: 5%;
    margin-top: 1rem;
    cursor: pointer;
}
.center-name {
    position: relative;
    top: .3rem;
    left: .3rem;
    cursor: pointer;
}
.center-time {
    position: relative;
    top: 1.3rem;
    right: 6rem;
    font-size: .8rem;
    cursor: pointer;
}
.center-time-2 {
    position: relative;
    top: 1.3rem;
    right: 5.6rem;
    font-size: .8rem;
    cursor: pointer;
}
.people-icon {
    font-size: .8rem;
    position: relative;
    top: 1.4em;
    right: 6rem;
    cursor: pointer;
}
.pic-center-long {
    width: 100%;
    margin-top: 1rem;
}
.like-thumbs {
    color: #fff;
    padding: .3rem;
    background-color:blue ;
    border-radius: 100%;
    margin-top: .7rem;
    font-size: .7rem;
    margin-left: 3%;
    margin-top: 1.2rem;
    cursor: pointer;
}


@media (max-width: 41.5em) { 
.like-thumbs  { 
      margin-left: 5%; 
}
 } 
    

.heart {
    color: #fff;
    padding: .3rem;
    background-color: red;
    border-radius: 100%;
    margin-top: .5rem;
    font-size: .7rem;
    cursor: pointer;
}
.like-name {
    font-size: .9rem;
    margin-top: -1.3rem;
    margin-left: 12%;
    cursor: pointer;
}


@media (max-width: 78em) { 
.like-name  { 
    margin-left: 14%;
}
 } 
    
@media (max-width: 37.5em) { 
.like-name  { 
    margin-left: 16%;
}
 } 
    
@media (max-width: 25em) { 
.like-name  { 
    margin-left: 18%;
}
 } 

 
@media (max-width: 22.5em) { 
.like-name  { 
    margin-left: 20%;
}
 } 

.like-name-love {

}


@media (max-width: 25em) { 
.like-name-love  { 
    display: none;
}
 } 
.comments {
    margin-left: 37%;
}


@media (max-width: 76.375em) { 
.comments {
    margin-left: 30%;          
}
 }
    
@media (max-width: 69.375em) { 
.comments {
        margin-left: 27%;          
}
 }
       
   
@media (max-width: 67.625em) { 
.comments {
    margin-left: 23%;          
}
 }
     
  
@media (max-width: 41.5em) { 
.comments {
    margin-left: 30%;          
}
 }
     
@media (max-width: 37.5em) { 
.comments {
    margin-left: 25%;          
}
 }
      
@media (max-width: 33.25em) { 
.comments {
    margin-left: 20%;          
}
 }

@media (max-width: 25em) { 
.comments {
        margin-left: 60%;          
}
 }


@media (max-width: 21.625em) { 
.comments {
    margin-left: 50%;          
}
 }     

.hr-center {
    width: 90%;
    margin-left: 5%;
}
.feed-back {
    margin-left: 12%;
    cursor: pointer;
}
:hover.feed-back {
    color: blue;
}


@media (max-width: 67.625em) { 
.feed-back  { 
      margin-left: 8%; 
}
 } 
    
@media (max-width: 24em) { 
.feed-back  { 
    margin-left: 10%; 
}
 } 
     

.feed-back-2 {
    margin-left: 17%;
    cursor: pointer;
}

:hover.feed-back-2 {
    color: blue;
}


@media (max-width: 24em) { 
.feed-back-2 {
        margin-left: 12%
    }
     }

.feed-back-3 {
    margin-left: 17%;
    cursor: pointer;
}
:hover.feed-back-3 {
    color: blue;
}

@media (max-width: 24em) { 
.feed-back-3 {
    margin-left: 10%
}
 }


